---
import Section from '../Section.astro';

import { work } from '@/cv';
---

<Section title="Experience">
   <ul>
      {
         work.map(
            ({
               name,
               url,
               startDate,
               endDate,
               position,
               summary,
               technologies,
            }) => {
               const startYear = new Date(startDate).getFullYear();
               const endYear =
                  endDate !== null
                     ? new Date(endDate).getFullYear()
                     : 'Present';
               const years = `${startYear} - ${endYear}`;
               return (
                  <li>
                     <article>
                        <header>
                           <div>
                              <h3>
                                 <a href={url} target="_blank" rel="noopener noreferrer">{name}</a>
                              </h3>
                              <h4>{position}</h4>
                           </div>
                           <time>{years}</time>
                        </header>
                        <footer>
                           <p>{summary}</p>
                           <div>
                              {technologies &&
                                 technologies.map((technologie) => (
                                    <p>{technologie}.</p>
                                 ))}
                           </div>
                        </footer>
                     </article>
                  </li>
               );
            }
         )
      }
   </ul>
</Section>

<style>
   ul {
      display: flex;
      flex-direction: column;
      gap: 32px;
   }
   article h3 {
      font-weight: 500;
      color: #111;
      text-decoration: none;
   }
   article h3 a {
      color: inherit;
      text-decoration: none;
   }
   article h4 {
      font-weight: 400;
      color: #222;
   }
   header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 4px;
   }
   time {
      color: #555;
      font-size: 0.85rem;
   }
   footer > p {
      margin-bottom: 10px;
   }
   footer div {
      font-size: 0.75rem;
      line-height: 0.8rem;
      margin-bottom: 8px;
   }
</style>
